.servicesPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1100px;
    margin: auto;
    gap: 20px;
    h1 {
        margin: 0 20px;
        text-align: center;
        padding: 22px 0 2px 0;
        font-size: calc(1.1em + 0.9vw);
    }
    .servicesPageContainer{
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 16px;
        margin: 0 20px; 
        max-width: 1100px;
        padding: 20px;
        .servicesContent{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            display: flex;
            flex-direction: column;
            gap: 25px;
            font-size: 1.3em;
            h2{
                
                font-weight: 400;
                margin-bottom: 5px;
            }
            ul{
                margin-top: 8px;
                margin-left: 12px;
                li{
                    margin-bottom: 5px;
                }
            }
        }
    }
}