@font-face {
    font-family: Bradley;
    src: url("/Bradley.ttf") format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;700&family=Montserrat:wght@300;400;600&display=swap');

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.bradley {
    font-family: Bradley;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    list-style-type: none;
    scroll-margin-top: 20px;
}

body {
    position: relative;
    background-color: rgb(246, 246, 246);
}

@media screen and (min-width: 530px) {
    body {
        padding-bottom: calc(200px + 2em);
    }
}

@media screen and (max-width: 670px) {
    #homeSection, .specialtiesPage, .servicesPage{
        margin-top: calc(70px + 27px);
    }
    *{
        scroll-margin-top: 100px;
    }
}